/*
TEMPLATE STYLES FOR STANDALONE
don't change these. instead, override them in index.html
*/
body,html {
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size:14px;
  margin: 0;
  padding: 0;
}
a img, img {
  border:0;
  outline:0;
}

ul, ol, dl, dt, dd {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.clearboth {
  clear: both;
  height:0;
}

.container {
  margin:0 auto;
  overflow: hidden;
  position: relative;
}

#inner-content {
  margin:0 auto;
  overflow: hidden;
  position: relative;
  max-width: 760px;
}

.embed-rule {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVQIW2PUYvhef42Bs5EBCBhBBAygcABn9QMEloeHKQAAAABJRU5ErkJggg==) repeat;
  height:20px;
  width:100%;
}

.tophat {
  height: 1.875rem;
  padding: 0px 1em;
  position: relative;
  background-color: #000;
  color: rgb(38, 38, 38);
  font-family: "TiemposTextWeb-Regular", Georgia, serif;
}

.tophat__links {
  margin: 0px 10px 0 45px;
}

.tophat .tophat__links li {
  position: relative;
  float: left;
}

.tophat .tophat__links a {
  font-size: 0.75rem;
}

.tophat .tophat__top-link {
  color: rgb(119, 121, 126);
  display: block;
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.875rem;
  margin-right: 1.3em;
  cursor: pointer;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  text-shadow: none;
}

.tophat .tophat__top-link:hover {
  color: #FB5623
}
#header {
  width:100%;
  height:69px;
  border-bottom: 1px solid #d0d0d0;
  overflow: hidden;
}

#header-logo-mobile {
  text-align: center;
  display: none;
}
#header-message a {
  float: left;
  font-family: "HaasTextBold",Arial,Helvetica;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 20px;
  color:#000;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
#header-message a:hover {
  color:#37169b;
}

#header-icon-fb {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor:pointer;
}
#header-rule {
  height:1px;
  width:100%;
  border-top: 1px solid #eaeaea;
}

/* changes for full-width header */
#full-header {
  width:100%;
  height:60px;
  border-bottom:1px solid #c1c1c1;
}
#header-logo {
  margin-left: 60px;
  float: left;
}
#header-icon-twitter {
  float: right;
  margin-right: 45px;
  margin-top: 10px;
  cursor:pointer;
}
/**/

.article-title, .video-title, .cta-text {
  font-family: "BWHaasText-75Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 25px;
  line-height: 28px;
  color: #3C3C3C;
  margin-bottom:20px;
}
.dek, .byline-name, .module-description {
  -webkit-font-smoothing: antialiased;
  color: rgb(60, 60, 60);
  font-family: "TiemposTextWeb-Regular", Georgia, serif;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 20px;
}

.nav-header, .module-header, .quote {
  font-family: "TiemposHeadlineWeb-Bold","Georgia";
}

.byline-by, .timestamp {
  font-size: 12px;
  margin:10px 0 10px 0;
  color:#626262;
  text-align: center;
}
.article-section-header, .curiosity-index-tag, .video-timestamp {
  font-family: "HaasText","Georgia";
}
#footer {
  position: relative;
  border-top:1px solid #ddd;
  width:100%;
  color:#999;
  font-family: "HaasText","Georgia";
  margin-top: 32px;
  padding:10px 10px 0 10px;
  font-size: 12px;
}
.source{
  margin: 2px 20px 4px;
  float: left;
}
.left{
  float: left;
}
.right{
  float: right;
}

/* buttons */
#graphic-button-container {
  max-width:240px;
  margin:15px auto 15px auto;
}
.graphic-button {
  float: left;
  width: 93px;
  height: 36px;
  text-align: center;
  padding: 10px 8px 10px 10px;
  overflow: hidden;
  border: solid;
  border-color: white;
  border-width: 2px;
  margin-left: -1px;
  padding: 10px;
  font-family: "HaasText",Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #777;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  background-color: #ddd;
  cursor: pointer;
}
.graphic-button:hover {
  background-color: #37169b;
  color:#fff;
}
.graphic-button-active {
  background-color: #37169b;
  color:#fff;
}
#graphic-button-container div:first-child {
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#graphic-button-container div:nth-child(2) {
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* tooltip */
div.tooltip {
  font-family:"Arial","Helvetica";
  position: absolute;
  top:-1000px;
  width: 220px;
  min-height:50px;
  padding: 10px;
  font-size: 13px;
  background: rgba(255, 255, 255, .98);
  border: 1px solid lightgray;
  box-shadow: 1px 1px 10px lightgray;
  color:black;
  pointer-events: none;
}
.tooltip:after, .tooltip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 100;
}
.tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 12px;
  margin-left: -12px;
}
.tooltip:before {
  border-color: rgba(102, 102, 102, 0);
  border-top-color: lightgray;
  border-width: 13px;
  margin-left: -13px;
}
.tooltip-hidden{
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{0})";
  filter: ~"alpha(opacity=@{0})";
}





/*
responsive
*/
#infographic-xl-feature {
  display: none;
}
#infographic-feature {
  display: none;
}
#infographic-article {
  display: block;
}
#infographic-article-mobile {
  display: none;
}
#infographic-article-mobile p {
  color: #767676;
}
img.infographic {
  width: 100%;
}


/* Break points now match bloomberg.com/politics/ break points and illustrator start up document*/
/* MOBILE SIZE container at 680px*/
@media only screen and (max-width: 760px)  {
  #infographic-article {
    display: block;
  }
  #infographic-article-mobile {
    display: none;
  }

  #header-message {
    display: none;
  }
  #header-divider-right {
    display: none;
  }
  #header-icon-twitter {
    display: none;
  }
  #header-icon-fb {
    display: none;
  }
  #header-rule {
    display: none;
  }
  #header-logo {
    display: none;
  }
  #header-logo-mobile {
    display: block;
  }
  .right,.left {
    float: none;
    padding: 0;
    margin: 0;
  }
  .tophat__links {
    margin-left: 5px;
  }

}
/* MOBILE window less than 568px wide */
@media only screen and (max-width: 568px)  {
  #infographic-article {
    display: none;
  }
  #infographic-article-mobile {
    display: block;
  }
  #inner-content { padding: 10px; }


}
/* MOBILE window less than 360px wide */
@media only screen and (max-width: 360px)  {
  .article-title, .video-title, .cta-text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .dek, .byline-name, .module-description {
    font-size: 16px;
    line-height: 21px;
    clear:both;
  }
  .tophat .tophat__links a {
    font-size: 0.65rem;
  }
  #inner-content { padding: 10px; }
}
