{% load static %}

{% block facts %}
 <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Facts</h3>
        </header>

        <div class="row counters">

  				<div class="col-lg-4 col-6 text-center">
            <span>100+</span>
            <p>Clients</p>
  				</div>

         

          <div class="col-lg-4 col-6 text-center">
            <span>1,364+</span>
            <p>Hours Of Support</p>
  				</div>

          <div class="col-lg-4 col-6 text-center">
            <span>18+</span>
            <p>Hard Workers</p>
  				</div>

  			</div>

        <div class="facts-img">
          <img src="{% static 'img/facts-img.jpg' %}" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- #facts -->
    {% endblock %}