{% load static %}

{% block intro %}
<section id="intro"> 
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="">
            <div class="" > 
              {% for vslider in vslindex %}
      <video autoplay loop width="100%" max-height=auto> 
        
  <source src="{{ vslider.vslider_video.url }}" type="video/mp4">
        
</video>
      
      
      </div>
            <div class="carousel-container">
              <div class="carousel-content">

                <h2>{{ vslider.vslider_title }}</h2>
                <p>{{ vslider.vslider_description }}</p>
                <a href="#services" class="btn-get-started scrollto">Get Started</a>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section><!-- #intro -->
  {% endblock %}