{% load static %}

{% block intro %}
<head>
<style>
div.relative {
    position: relative;
    width: 400px;
    height: 200px;

} 

div.absolute {
    position: absolute;
    top: 105px;
    left: 400px;
    text-align: left;
    right: 0;
    width: 300px;
    height: 300px;
    
}

</style>

</head>
<section id="intro"> 
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="">
            <div class="" > 
              {% for vslider in vslindex %}
      <video autoplay loop width="100%" max-height=auto> 
        
  <source src="{{ vslider.vslider_video.url }}" type="video/mp4" accept="video/mp4,video/x-m4v,video/*">
        
</video>
      
      
      </div>


            <div class="carousel-container">

              <div class="relative">    
                <div class="carousel-content">

                <h2>{{ vslider.vslider_title }}</h2>
                <p>{{ vslider.vslider_description }}</p>
                <a href="{% url 'marketWatch' %}" class="btn-get-started scrollto">Market Watch</a>
                {% endfor %}
                <br/><br/> <br/><br/>
              </div>
  <div class="absolute">     <a href="#news" class="scrollto">
   <div  class="carousel-content" style="text-align: right;">
              <div style="text-align: right">


              <iframe onclick="#news" width="420" height="345" src="https://www.youtube.com/embed/Ga3maNZ0x0w?autoplay=1">
                </iframe>

             
              </div>
              </div> </a></div>

</div>
        
            </div>

          
            
          </div>

        </div>

      </div>
    </div>
  </section><!-- #intro -->
  {% endblock %}