{% load static %}

{% block pdfs %}
{% include "header.html" %}
<br/>

<br/><br/><br/><br/><br/><br/><br/>
<div class="container">
  <div class="section-header">
          <h3>Applicants' Resumes</h3>
        </div>
  <br/>           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Document</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    {% for document in dindex %}
    <tbody>
      <tr>
        <td><a href="{{document.document.url}}" style="text-decoration: underline; color:blue;
    cursor: pointer;" download>Click here to Download Resume </a></td>
    	<td>{{ document.name }}</td>
        <td>{{ document.email }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

{% include "footer.html" %}
{% endblock %}
