{% load static %}

{% block services %}
{% include "header.html" %}
<br/>
<br/>
<br/>
<br/>
<br/>

<section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>We facilitates the buying and selling of financial securities between a buyer and a seller. We serve a clientele of investors who trade public stocks and other securities, usually through the firm's agent stockbrokers.</p>
        </header>

        <div class="row">
          {% for service in sindex %}
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">{{ service.service_title }}</a></h4>
            <p class="description">{{ service.service_content }}</p>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- #services -->
    {% include "footer.html" %}
    {% endblock %}